<MudOverlay Visible="true" DarkBackground="false">
	<div class="darken-25" style="border-radius: 500px; padding: 10px; padding-bottom: 7px">
		<MudProgressCircular Color="Color.Surface" Indeterminate="true" />
	</div>
</MudOverlay>

@code {

}
